html {
	font-size: 18px;
}
body {
	font-family: Helvetica;
}
article, aside, header, nav, section {
    display: block;
}	
h4 {
	font-size: 1rem;
}
h1 h4 {
	font-weight: bold;
}
.company {
	background-color: black;
	color: white;
}
.container {
	max-width: 960px;
	margin:0 auto;
}
.company .container {
	display: flex;
	align-items: center;
	padding: 12px 0 12px 0.5em;	
}
.company img {
	height: 1.5rem;
	padding-right: 1rem;
}
img {
	border-style: none;
}
.company .container span {
	font-size: 1rem;
	padding-top: 0.66rem;
	padding-bottom: 0.66rem;
}
.main-banner {
	height: 25rem;
    background: url("../images/moto.jpeg")center center / cover no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.headline {
	background-color: black;
    color: white;
    width: 20rem;
    position: relative;
    top: 9rem;
    padding: 2rem 3rem;
}
.headline h1 {
	font-size: 2em;
    line-height: 1.2em;
    margin: 0.25em 0;
}
nav {
	background-color: firebrick;
	color: white;
}
nav ul {
	display: flex;
    justify-content: space-between;
    padding: 0.75em 0;
}
.mobile-nav {
	display: none;
}
.products, .location-hours  {
	display: flex;
    justify-content: space-between;
    margin: 3rem 0px 0px;
}
.product {
	width: 30%;
}
.product-image {
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 4px;
    border-style: solid;
    border-color: black;
    border-image: initial;
    padding: 2rem 0px;
}
.product-image img {
	max-width: 8rem;
}

.description {
	display: block;
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5rem;
}
.info {
	width: 35%;
}
.info .title {
    display: block;
    background-color: black;
    color: white;
    padding: 1em 2em;
}
footer{
	background-color: black;
	color: white;
	height:5rem;
	padding-top: 3rem;
	margin-top: 4rem;
}
@media only screen and (max-width: 1024px) {
	html {
		font-size:16px;
	}
	nav ul {
		display: none;
	}
	.mobile-nav {
		display: block;
    	text-align: center;
	}
	.product {
		width: 47%;
	}
	.product.glasses {
		display: none;
	}
}
@media only screen and (max-width: 470px) {
	body {
		font-size: 12px;
	}
	.headline {
    	width: 99%;
    	top: 10em;
    	height: 6rem;
    	margin-bottom: 1em;
    	padding: 1em 2em;
	}
	.main-banner {
		height: 15rem;
	}
	h1 {
		font-size: 0.45em;
	}
	h4 {
		font-size: 0.65em;
	}
	.products {
		justify-content: center;
	}
	.product {
		margin-left: 5%;
		margin-right: 5%;
		width: 90%;
	}
	.product.glasses {
		display: none;
	}
	.product.watch {
		display: none;
	}
	.location-hours {
		flex-wrap: wrap;
	}
	.info {
		margin-top: 0.5em;
		margin-left: 5%;
		margin-right: 5%;
		width: 90%;
	}
	footer {
		width:100%;
		text-align: center;
	}
}